/* Основные стили для body */
body {
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
  
  .cards-wrapper {
    padding: 16px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .card {
    width: 45%;
    max-width: 180px;
    aspect-ratio: 2/3;
    background: #fff;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
  }
  
  .card-img {
    position: absolute;
  }
  
  .img-1 {
    width: 256px;
    height: 143px;
    top: 27px;
    left: -39px;
  }
  
  .img-2 {
    width: 176px;
    height: 176px;
    top: 16px;
    left: 1px;
  }
  
  .description {
    position: absolute;
    left: 13px;
    top: 184px;
    font-size: 12px;
    color: black;
  }
  
  .desc-2 {
    left: 16px;
    top: 186px;
  }
  
  .small-text {
    font-size: 10px;
  }
  
  .button {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 116px;
    height: 26px;
    background: white;
    border-radius: 24px;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .card svg {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  